body{
   width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.container{
    width: 320px;
    height: 560px;
    border-radius: 50px;
    margin: auto;
    border: 5px solid black;
    background-color: wheat;
}
.calculator{
    width: 300px;
    height: 600px;
    margin: auto;
}
.row{
    width: 100%;
    height: auto;
}
.row-1{
    width: 75%;
}
.btn{
    width: 60px;
    height: 45px;
    margin: 10px 5px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    background: gray;
}
.equal_btn{
    margin-top: 10px;
    height: 110px;
    background: rgb(255, 60, 0);
}
.black_btn{
    background: #000;
    color: #fff;
}
.screen{
    width: 100%;
    height: 20%;
    margin: 50px 10px 30px auto;
    border-radius: 40px;
    color: #000;
    background-color: rgb(179, 255, 0);
    display: flex;
    align-items: center;
    align-content: center;
}
input{
    width: 90%;
    height: 50%;
    margin: auto;
    font-size: 40px;
    overflow: hidden;
    text-align: right;
    border: none;
    font-family: 'share tech' , sans-serif;
    background: transparent;
}
.buttons{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}
h3{
    align-items: center;
    align-content: center;
    margin-right: 5px;
    margin-left: 40px;
}
